@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins&display=swap');

;:root{
    --background: #ffc8dd;
    --primary: #ffafcc;
    --secondary: #cdb4db;
    --background-celeste-claro: #bde0fe;
    --background-celeste: #a2d2ff;
    --background-amarillo-claro: #ffff3f;
    --backgound-verde-musgo: #90be6d;

    --text-gray: #0b090a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: "poppins", sans-serif;
}


.header{
    background-color:#ffc8dd;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 30px 0;
    position: fixed;
    top: 0;
}

.logo {
    width: 90px;
    height: 80px;   
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    gap: 150px;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: floralwhite;
    font-size: 14px;
    font-weight: bold;
    
}

.cart-icon{
    border: 1px solid var(--secondary);
    padding: 10px 10px;
    margin-top:  3px;
    border-radius: 10px;
    height: 60px;
    font-weight: 600;
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#hero{
    margin-top: 65px;
    padding: 75px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1{
    font-size: 50px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: #ffafcc;
}

.hero-info p{
    font-size: 14px;
    width: 70%;
    color: gray;
}

.hero-info p > span{
    font-weight: 800;
}

.hero-info a{
    flex-direction: row;
    background-color: #a2d2ff;
    font-family: "poppings";
    color: white;
    width: 120px;
    padding: 8px 0px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    justify-content: space-between;

}

.imagen-crepa{
    display: flex;
    width: 400px;
    height: 400px;
    justify-content:center;
    
}


#info{
    margin-top: 65px;
    padding: 75px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.info-description p{
    color: gray;
    text-align: center;
}
